.custom-form-contact {
    padding: 3.125rem;
    background: #f4f4f4;
    border-radius: .625rem;
}

.custom-form-contact .custom-form-contact__meta.flex-2 {
    row-gap: 0 !important;
}

.custom-form-contact input {
    height: 3.5rem;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
    padding-right: 2.75rem;
    border: 1px solid transparent;
    transition: 0.4s ease-in-out;
}

.custom-form-contact input.input-desc {
    height: 7rem;
}

.custom-form-contact .form-title {
    overflow: hidden;
}

.custom-form-contact .form-title::before {
    content: '';
    position: absolute;
    animation: sectionShape 8s linear infinite;
    animation-delay: 0s;
    color: var(--black-color);
    background-color: var(--theme-color);
    z-index: 9;
    width: 160px;
    height: 1px;
    margin-top: -1px;
    bottom: 0;
}



.custom-form-contact .form-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    margin: 0;
    margin-top: -1px;
    background-color: #121212;
    opacity: 0.1;
    left: 0;
    bottom: 0;

}

/**
* MEDIA 
*/
/* Desktop lớn (Widescreen) */
@media screen and (max-width: 1921px) {
    /* CSS cho màn hình <= 1920px */
}

/* Desktop thường / Laptop lớn */
@media screen and (max-width: 1441px) {
    /* CSS cho màn hình <= 1440px */
}

/* Laptop nhỏ / Tablet landscape lớn */
@media screen and (max-width: 1201px) {
    /* CSS cho màn hình <= 1200px */
}

/* Nest hub */
@media screen and (max-width: 1025px) {

    /* CSS cho màn hình <= 1025px */


}

/* Tablet landscape / Laptop nhỏ */
@media screen and (max-width: 993px) {
    /* CSS cho màn hình <= 992px */
}

/* Ipad Air */
@media screen and (max-width: 821px) {

    /* CSS cho màn hình <= 821px */

}

/* Tablet portrait lớn / Mobile landscape */
@media screen and (max-width: 769px) {

    /* CSS cho màn hình <= 768px */

}

/* Mobile landscape / Phablet */
@media screen and (max-width: 577px) {

    /* CSS cho màn hình <= 576px */

}

/* Mobile IP 14Pro Max */
@media screen and (max-width: 431px) {

    /* CSS cho màn hình <= 431px */

}

/* Mobile portrait lớn (iPhone 6/7/8 Plus) */
@media screen and (max-width: 415px) {

    /* CSS cho màn hình <= 414px */

}

/* Mobile portrait trung bình (iPhone X/11 Pro) */
@media screen and (max-width: 391px) {

    /* CSS cho màn hình <= 390px */

}

/* Mobile portrait nhỏ (iPhone SE, Android nhỏ) */
@media screen and (max-width: 376px) {}