/* Banner */
.banner-title {
    line-height: 5.75rem !important;
}

.banner.is-selected .banner-bg img {
    animation: zoomRight 6s ease forwards;
    object-fit: cover;
}

@keyframes zoomRight {
    0% {
        transform: scale(1) translateX(0);
    }

    100% {
        transform: scale(1.2) translateX(-5%);
    }
}

.section-banner-home .flickity-page-dots .dot {
    width: 1.5rem !important;
    border-radius: 0 !important;
    height: .25rem !important;
}

/* Service */
.service-list.row .col .col-inner {
    height: 100%;
    display: flex;
    flex-direction: column
}

.service-list.row .col .col-inner .icon-box {
    flex-grow: 1;
    gap: 1rem;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    padding: 2.5rem 1.875rem;
}

.service-list .icon-box a.plain,
.service-list .icon-box .service-button {
    position: relative;
    z-index: 999;
}

.service-list .icon-box .icon-inner svg {
    color: var(--fs-color-primary);
}

.service-list .icon-box:hover .icon-inner svg {
    color: var(--white-color);
}

.service-list .icon-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../../../uploads/2025/08/bg_pricing.png);
    opacity: 0.12;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: 0;
}

.service-list .icon-box::after {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--fs-color-primary);
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    z-index: -1;
}

.service-list .icon-box:hover::after {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.service-list .icon-box:hover .service-button>a,
.service-list .icon-box:hover .icon-box-text>a>*,
.service-list .icon-box:hover .service-button i::before {
    color: var(--white-color) !important;
}

.service-list .icon-box .service-button>a>span {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    display: inline-block;
    font-size: 0;
    font-weight: 600;
    color: var(--text);
    text-transform: uppercase;
    margin-right: 0;
}

.service-list .icon-box:hover .service-button>a>span {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    font-size: .75rem;
    color: var(--white-color) !important;
    margin-right: .5rem;
}

/* Contact */
.section-contact .section-content .row>.col {
    padding-bottom: 0 !important;
}

.contact-label {
    color: var(--black-color);
    font-size: 1.625rem;
    font-weight: 700;
}

.contact-right {
    background-image: url(../../../../uploads/2025/08/home-7-background-company-benefits-a.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--fs-color-primary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 5% 10%;
    border-radius: .5rem;
}

.home-contact-wrapper input,
.home-contact-wrapper textarea {
    padding: 1rem 1.25rem;
    height: 3.5rem;
    background: transparent;
    border: 1px solid var(--fs-color-primary);
    font-size: 1rem;
    margin-right: 0 !important;
    margin-bottom: 1.5rem !important;
    border-radius: .25rem;
}

.home-contact-wrapper .wpcf7-submit {
    width: 100%;
    border: none !important;
    background-color: var(--fs-color-primary) !important;
    text-transform: uppercase;
    line-height: 1;
    height: 5rem;
    padding: 1.25rem 1.5rem;
    margin-bottom: 0 !important;
}


.section-contact .button.icon {
    border: none !important;
}


/**
* MEDIA 
*/
/* Desktop lớn (Widescreen) */
@media screen and (max-width: 1921px) {
    /* CSS cho màn hình <= 1920px */
}

/* Desktop thường / Laptop lớn */
@media screen and (max-width: 1441px) {
    /* CSS cho màn hình <= 1440px */
}

/* Laptop nhỏ / Tablet landscape lớn */
@media screen and (max-width: 1201px) {
    /* CSS cho màn hình <= 1200px */
}

/* Nest hub */
@media screen and (max-width: 1025px) {

    /* CSS cho màn hình <= 1025px */

}

/* Tablet landscape / Laptop nhỏ */
@media screen and (max-width: 993px) {
    /* CSS cho màn hình <= 992px */
}

/* Ipad Air */
@media screen and (max-width: 821px) {

    /* CSS cho màn hình <= 821px */

}

/* Tablet portrait lớn / Mobile landscape */
@media screen and (max-width: 769px) {

    /* CSS cho màn hình <= 768px */

}

/* Mobile landscape / Phablet */
@media screen and (max-width: 577px) {

    /* CSS cho màn hình <= 576px */

}

/* Mobile IP 14Pro Max */
@media screen and (max-width: 431px) {

    /* CSS cho màn hình <= 431px */

}

/* Mobile portrait lớn (iPhone 6/7/8 Plus) */
@media screen and (max-width: 415px) {

    /* CSS cho màn hình <= 414px */

}

/* Mobile portrait trung bình (iPhone X/11 Pro) */
@media screen and (max-width: 391px) {

    /* CSS cho màn hình <= 390px */

}

/* Mobile portrait nhỏ (iPhone SE, Android nhỏ) */
@media screen and (max-width: 376px) {}