.service-counter1 {
    background-color: var(--fs-color-primary);
    padding: 2.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 15%;
    top: 40%;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounceSlide;
}

@keyframes bounceSlide {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

/**
* MEDIA 
*/
/* Desktop lớn (Widescreen) */
@media screen and (max-width: 1921px) {
    /* CSS cho màn hình <= 1920px */
}

/* Desktop thường / Laptop lớn */
@media screen and (max-width: 1441px) {
    /* CSS cho màn hình <= 1440px */
}

/* Laptop nhỏ / Tablet landscape lớn */
@media screen and (max-width: 1201px) {
    /* CSS cho màn hình <= 1200px */
}

/* Nest hub */
@media screen and (max-width: 1025px) {

    /* CSS cho màn hình <= 1025px */

}

/* Tablet landscape / Laptop nhỏ */
@media screen and (max-width: 993px) {
    /* CSS cho màn hình <= 992px */
}

/* Ipad Air */
@media screen and (max-width: 821px) {

    /* CSS cho màn hình <= 821px */

}

/* Tablet portrait lớn / Mobile landscape */
@media screen and (max-width: 769px) {

    /* CSS cho màn hình <= 768px */

}

/* Mobile landscape / Phablet */
@media screen and (max-width: 577px) {

    /* CSS cho màn hình <= 576px */

}

/* Mobile IP 14Pro Max */
@media screen and (max-width: 431px) {

    /* CSS cho màn hình <= 431px */

}

/* Mobile portrait lớn (iPhone 6/7/8 Plus) */
@media screen and (max-width: 415px) {

    /* CSS cho màn hình <= 414px */

}

/* Mobile portrait trung bình (iPhone X/11 Pro) */
@media screen and (max-width: 391px) {

    /* CSS cho màn hình <= 390px */

}

/* Mobile portrait nhỏ (iPhone SE, Android nhỏ) */
@media screen and (max-width: 376px) {}